h5 {
    font-size: .984375rem !important;
}

.form-control {
    font-size: 13px !important;
}

.form-select {
    font-size: 13px !important;
}

th {
    font-size: 12px !important;
}

.btn {
    font-size: 14px !important;
}

.td {
    min-width: 8rem !important;
}

/* rgb(13 64 107) */
.navbar-standard {
    background: #003f6b !important;
}
.sign-up-btn:hover{
    background: #003f6b !important;
    color: #fff !important;
    transition: all .5s;
    border: none;
}